/* 
    Document   : menu
    Created on : Nov 20, 2013, 9:12:48 PM
    Author     : Shaon
    Description:
        Purpose of the stylesheet follows.
*/

nav{
    height: 36px;
    width: 1050px;
    background-color: aqua;
    float: left;
 }
 nav ul li{
     list-style-type: none;
     position: relative;
     float: left;
     margin-left: 15px;
 }
 nav li a{
     padding: 13px;
     text-decoration: none;
     font-size: large;
 }
 nav a:hover{
     background-color: white;
     padding-bottom: 13px;
     color: red;
 }

